*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #250057;
}
.input-box{
    background: #fff;
    width: 90%;
    margin: 300px auto;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.input-box input{
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 28px;
    color: #555;
}
.input-box img{
    width: 30px;
    cursor: pointer;
}