*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background: #201f21;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.input-box{
    width: 400px;
    max-width: 90%;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 60px;
    padding: 0 60px 0 20px; 
    border: 2px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
}

button{
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 15px;            
    transform: translateY(-50%);
}

button img{
    width: 35px;
    filter: invert(1);
}

#message{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 18px;
    display: none;
}

::placeholder{
    font-size: 18px;
}
