*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FsZW5kZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    width: 300px;
    height: 150px;
    background: #fff;
    display: flex;
    border-radius: 10px;
    align-items: center;
}
.left, .right{
    width: 50%;
    height: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right{
    width: 42%;
    background: #f4351e;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}
.left{
    width: 58%;
    
}

#date{
    font-size: 100px;
    line-height: 90px;
}