* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #bbc6fa;
}
.quote-box {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  text-align: center;
}
.quote-box h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}
.quote-box h2::after {
  content: '';
  width: 75px; height: 3px;
  background: rgb(23,123,229);
  position: absolute;
  bottom: -10px; left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}
.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}
.quote-box blockquote::before,
.quote-box blockquote::after { content: '"'; }
.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}
.quote-box span::before {
  content: '-';
  position: absolute;
  left: -30px; top: 50%;
  width: 20px; height: 2px;
  background: rgb(23,124,229);
}
.quote-box div {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.quote-box button {
  width: 150px; height: 50px;
  margin: 5px;
  border: 1px solid rgb(23,123,229);
  border-radius: 25px;
  background: rgb(23,123,229);
  color: #fff;
  cursor: pointer;
  display: flex; align-items: center; justify-content: center;
}
